<div *ngIf="resource">
    <div class="row">
        <div class="col-sm-4">
            <div class="card bg-danger">
                <div class="card-body bg-danger">
                    <h4>balance</h4>
                    <h2>$ {{resource.balance}}</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-danger">
                <div class="card-body bg-danger">
                    <h4>market</h4>
                    <h2>$ 0,00</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-danger">
                <div class="card-body bg-danger">
                    <h4>limits</h4>
                    <h2>$ 0,00</h2>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <h2>Last Transactions</h2>
            <p>The last transactions of the day:</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Accont</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of resource.transactions">
                        <td>{{t.dateTime}}</td>
                        <td>{{t.type}}</td>
                        <td>{{t.value}}</td>
                        <td>{{t.receiver}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    </div>
</div>
